.cronometro{
    display: flex;
    font-size: 10rem;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    align-items: center;
    justify-content: center;
}
.input{
    display: flex;
    height: 5rem;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: center;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: none;
}
.input1{
    display: flex;
    height: 5rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    text-align: center;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: none;
}
    
.boton{
    display: flex;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 5rem ;
    font-size: 3rem;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}